/* -------------------- menu - типографика : начало -------------------- */
.logo {
	width: auto;
	width: 94px;
	@include bp($menu-adaptive-bp-1) {
		width: 94px;
	}
	// }
	img {
		height: auto;
		aspect-ratio: 94/85;
		width: 100%;
		max-width: 100%;
		display: block;
		object-fit: cover;
		// border: 1px solid #000;
		@include bp($menu-adaptive-bp-1) {
			width: auto;
		}
	}
	a:focus-visible {
		display: flex;
		outline: 1px solid var(--outline-color);
	}
}
.menu {
	.logo {
		width: 70%;
		width: 224px;
		@include bp($menu-adaptive-bp-1) {
			width: auto;
			min-width: auto;
			width: 94px;
		}
		
	}

	& > a {
		user-select: none;
		outline: none;
		// justify-content: space-around;
		line-height: 1;
		font-size: rem(18);
		text-decoration: none;
		position: relative; // ! Обязательно для отрисовки точек между пунктами
		@include bp($menu-adaptive-bp-1) {
			font-size: rem(13);
			padding-bottom: 6px;
		}
		&.is-clicked span,
		&.is-active span,
		&:focus-visible span {
			color: var(--menu-links-font-color);
			&:after {
				display: block;
				border-color: var(--menu-links-font-color);
			}
		}
		&.is-active span {
			color: var(--menu-links-acitve-font-color);
			&:after {
				border-color: var(--menu-links-active-font-color);
			}
		}

		& > span {
			
			white-space: nowrap;
			text-transform: uppercase;
			font-weight: normal;
			color: #4d4a59;
			line-height: 1;
			letter-spacing: em(3.1);
			word-spacing: em(-1);
			// text-indent: em(2.9);
			padding-bottom: 3px;

			position: relative; // ! Обязательно для подчеркивания пункта

			@include bp($menu-adaptive-bp-1) {
				font-weight: bold;
			}
			&:after {
				// Подчеркивание пункта меню при наведении
				content: "";
				font-size: 0;
				position: absolute;
				bottom: -2px;
				left: 50%;
				transform: translate(-50%, 0);
				width: 100%;
				height: 1px;
				border-bottom: 1px dashed #4d4a59;
			}
			
			&:hover {
				color: var(--menu-links-font-color);
				&:after {
					border-color: var(--menu-links-font-color);
				}
			}
		}
		&:after {
			pointer-events: none;
		}
		&:not(:last-of-type):after {
			// Отрисовываем точку между пунктами : начало
			content: ".";
			font-weight: bold;
			pointer-events: none;
			text-align: center;
			font-size: 18px;
		}

		@include bp($menu-adaptive-bp-1) {
			&.menu__link:nth-of-type(2) ~ .menu__link:before,
			&:not(:last-of-type):after {
				content: ".";
				font-weight: bold;
				pointer-events: none;
				text-align: center;
				font-size: 0.8rem;
			}
			&.menu__link:nth-of-type(2) ~ .menu__link:after {
				content: "";
			}
			&.menu__link:nth-of-type(2):after {
				content: "";
			}
			&.menu__link:nth-of-type(2) + .menu__link:before {
				content: "";
			}
			/* Отрисовываем точку между пунктами : конец */
		}

		@include bp($menu-adaptive-bp-1) {
			// flex: 1 1 100%;
			&:after {
			}
			&:last-child {
			}
			@for $i from 1 through $menu-items-amount {
				&:nth-of-type(#{$i}) {
					order: $i;
				}
			}
		}
	}
}
/* -------------------- menu - типографика : конец -------------------- */
