<div class="navbar">

	<div class="ctrls-wrap">
		<div class="burger-box">
			<button class="navbar__toggler btn--burger" aria-label="Show menu">
				<span class="icon"></span>
				<span class="text">MENU</span>
			</button>
		</div>
	</div><!-- / .ctrls-wrap"> -->

	<div class="nav-wrap">

		<div class="decor decor--nav">
			<div class="decor__helper">

				<nav class="nav">

					<div class="menu">

						<a class="menu__link" href="#about"><span>about us</span></a>
						<a class="menu__link" href="#portfolio"><span>work</span></a>
						<a class="menu__link" href="#shop"><span>shop</span></a>
						<a class="menu__link" href="#subscribe"><span>contact</span></a>

						<div class="logo">
							<a href="./"><img src="@assets/img/svgsprites/svgsprites.svg#site-logo" width="94"
									height="85"
									alt="logo" aria-label="Логотип" /></a>
						</div>

					</div>

				</nav><!-- / .nav -->

			</div><!-- / .decor__helper -->
		</div><!-- / .decor -->

	</div><!-- / .nav-wrap -->

</div><!-- / .navbar -->