<div class="portfolio" id="portfolio">

	<article class="work">

		<div class="work__picture-area">
			<div class="icon-box">
				<a href="#"><i class="icon icon--portfolio-company-1"></i></a>
			</div>
			<img
				src="assets/img/content/portfolio/work_1-big.jpg"
				alt="work"
				width="1067" height="600"
				ghiw-responsive-filenames="imr/sm/content/portfolio/-sm--work_1-big; imr/md/content/portfolio/-md--work_1-big; imr/lg/content/portfolio/-lg--work_1-big; img/content/portfolio/work_1-big"
				ghiw-responsive-media="max-width: 575px; max-width: 767px; max-width: 991px; min-width: 992px"
				ghiw-responsive-extensions="webp; jpg" />
		</div>

		<div class="work__info-area">
			<div class="work__content">
				<div class="icon-box">
					<i class="icon icon--portfolio-heading-1"></i>
				</div>
				<h2 class="title">vintage Oliva</h2>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
					industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
					scrambled it to make a type specimen book. It has survived.</p>

			</div>
			<div class="work__thumb">
				<img
				src="assets/img/content/portfolio/work_1-small.jpg"
				alt="work"
				width="533" height="200"
				ghiw-responsive-filenames="imr/sm/content/portfolio/-sm--work_1-small; imr/md/content/portfolio/-md--work_1-small; imr/lg/content/portfolio/-lg--work_1-small; img/content/portfolio/work_1-small"
				ghiw-responsive-media="max-width: 575px; max-width: 767px; max-width: 991px; min-width: 992px"
				ghiw-responsive-extensions="webp; jpg" />
			</div>
		</div>

	</article>

	<article class="work work--reverse">

		<div class="work__picture-area">
			<div class="icon-box">
				<a href="#"><i class="icon icon--portfolio-company-2"></i></a>
			</div>
			<img
				src="assets/img/content/portfolio/work_2-big.jpg"
				alt="work"
				width="1067" height="600"
				ghiw-responsive-filenames="imr/sm/content/portfolio/-sm--work_2-big; imr/md/content/portfolio/-md--work_2-big; imr/lg/content/portfolio/-lg--work_2-big; img/content/portfolio/work_2-big"
				ghiw-responsive-media="max-width: 575px; max-width: 767px; max-width: 991px; min-width: 992px"
				ghiw-responsive-extensions="webp; jpg" />
		</div>

		<div class="work__info-area">
			<div class="work__content">
				<div class="icon-box">
					<i class="icon icon--portfolio-heading-2"></i>
				</div>
				<h2 class="title">La Boriosa</h2>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
					industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
					scrambled it to make a type specimen book. It has survived.</p>
			</div>
			<div class="work__thumb">
				<img
				src="assets/img/content/portfolio/work_2-small.jpg"
				alt="work"
				width="533" height="200"
				ghiw-responsive-filenames="imr/sm/content/portfolio/-sm--work_2-small; imr/md/content/portfolio/-md--work_2-small; imr/lg/content/portfolio/-lg--work_2-small; img/content/portfolio/work_2-small"
				ghiw-responsive-media="max-width: 575px; max-width: 767px; max-width: 991px; min-width: 992px"
				ghiw-responsive-extensions="webp; jpg" />
			</div>
		</div>

	</article>

	<article class="work work--tripled">

		<div class="work__picture-area">
			<div class="icon-box">
				<a href="#"><i class="icon icon--portfolio-company-3"></i></a>
			</div>
			<img
				src="assets/img/content/portfolio/work_3-medium_1.jpg"
				alt="work"
				width="533" height="600"
				ghiw-responsive-filenames="imr/sm/content/portfolio/-sm--work_3-medium_1; imr/md/content/portfolio/-md--work_3-medium_1; imr/lg/content/portfolio/-lg--work_3-medium_1; img/content/portfolio/work_3-medium_1"
				ghiw-responsive-media="max-width: 575px; max-width: 767px; max-width: 991px; min-width: 992px"
				ghiw-responsive-extensions="webp; jpg" />
		</div>

		<div class="work__picture-area">
			<img
				src="assets/img/content/portfolio/work_3-medium_2.jpg"
				alt="work"
				width="533" height="600"
				ghiw-responsive-filenames="imr/sm/content/portfolio/-sm--work_3-medium_2; imr/md/content/portfolio/-md--work_3-medium_2; imr/lg/content/portfolio/-lg--work_3-medium_2; img/content/portfolio/work_3-medium_2"
				ghiw-responsive-media="max-width: 575px; max-width: 767px; max-width: 991px; min-width: 992px"
				ghiw-responsive-extensions="webp; jpg" />
		</div>

		<div class="work__info-area">
			<div class="work__content">
				<div class="icon-box">
					<i class="icon icon--portfolio-heading-3"></i>
				</div>
				<h2 class="title">retrò Bike - M. Hulot</h2>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
					industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
					scrambled it to make a type specimen book. It has survived.</p>

			</div>
			<div class="work__thumb">
				<img
				src="assets/img/content/portfolio/work_3-small.jpg"
				alt="work"
				width="533" height="200"
				ghiw-responsive-filenames="imr/sm/content/portfolio/-sm--work_3-small; imr/md/content/portfolio/-md--work_3-small; imr/lg/content/portfolio/-lg--work_3-small; img/content/portfolio/work_3-small"
				ghiw-responsive-media="max-width: 575px; max-width: 767px; max-width: 991px; min-width: 992px"
				ghiw-responsive-extensions="webp; jpg" />
			</div>
		</div>

	</article>

</div>