<div class="shop" id="shop">

	<div class="shop__grid">
		<figure class="shop__item product-1">
			<img
				src="assets/img/content/shop/shop_item_01.jpg"
				alt="product-1"
				width="267" height="267"
				ghiw-responsive-filenames="imr/sm/content/shop/-sm--shop_item_01; imr/md/content/shop/-md--shop_item_01; imr/lg/content/shop/-lg--shop_item_01; img/content/shop/shop_item_01"
				ghiw-responsive-media="max-width: 575px; max-width: 767px; max-width: 991px; min-width: 992px"
				ghiw-responsive-extensions="webp; jpg" />
			<figcaption>
				<a href="#" aria-label="shop now">shop now</a>
			</figcaption>
		</figure>
		<figure class="shop__item product-2">
			<img
				src="assets/img/content/shop/shop_item_02.jpg"
				alt="product-2"
				width="267" height="267"
				ghiw-responsive-filenames="imr/sm/content/shop/-sm--shop_item_02; imr/md/content/shop/-md--shop_item_02; imr/lg/content/shop/-lg--shop_item_02; img/content/shop/shop_item_02"
				ghiw-responsive-media="max-width: 575px; max-width: 767px; max-width: 991px; min-width: 992px"
				ghiw-responsive-extensions="webp; jpg" />
			<figcaption>
				<a href="#" aria-label="shop now">shop now</a>
			</figcaption>
		</figure>
		<figure class="shop__item product-3">
			<img
				src="assets/img/content/shop/shop_item_03.jpg"
				alt="product-3"
				width="534" height="267"
				ghiw-responsive-filenames="imr/sm/content/shop/-sm--shop_item_03; imr/md/content/shop/-md--shop_item_03; imr/lg/content/shop/-lg--shop_item_03; img/content/shop/shop_item_03"
				ghiw-responsive-media="max-width: 575px; max-width: 767px; max-width: 991px; min-width: 992px"
				ghiw-responsive-extensions="webp; jpg" />
			<figcaption>
				<a href="#" aria-label="shop now">shop now</a>
			</figcaption>
		</figure>
		<figure class="shop__item product-4">
			<img
				src="assets/img/content/shop/shop_item_04.jpg"
				alt="product-4"
				width="267" height="534"
				ghiw-responsive-filenames="imr/sm/content/shop/-sm--shop_item_04; imr/md/content/shop/-md--shop_item_04; imr/lg/content/shop/-lg--shop_item_04; img/content/shop/shop_item_04"
				ghiw-responsive-media="max-width: 575px; max-width: 767px; max-width: 991px; min-width: 992px"
				ghiw-responsive-extensions="webp; jpg" />
			<figcaption>
				<a href="#" aria-label="shop now">shop now</a>
			</figcaption>
		</figure>
		<figure class="shop__item product-5">
			<img
				src="assets/img/content/shop/shop_item_05.jpg"
				alt="product-5"
				width="267" height="534"
				ghiw-responsive-filenames="imr/sm/content/shop/-sm--shop_item_05; imr/md/content/shop/-md--shop_item_05; imr/lg/content/shop/-lg--shop_item_05; img/content/shop/shop_item_05"
				ghiw-responsive-media="max-width: 575px; max-width: 767px; max-width: 991px; min-width: 992px"
				ghiw-responsive-extensions="webp; jpg" />
			<figcaption>
				<a href="#" aria-label="shop now">shop now</a>
			</figcaption>
		</figure>
		<figure class="shop__item product-6">
			<img
				src="assets/img/content/shop/shop_item_06.jpg"
				alt="product-6"
				width="534" height="267"
				ghiw-responsive-filenames="imr/sm/content/shop/-sm--shop_item_06; imr/md/content/shop/-md--shop_item_06; imr/lg/content/shop/-lg--shop_item_06; img/content/shop/shop_item_06"
				ghiw-responsive-media="max-width: 575px; max-width: 767px; max-width: 991px; min-width: 992px"
				ghiw-responsive-extensions="webp; jpg" />
			<figcaption>
				<a href="#" aria-label="shop now">shop now</a>
			</figcaption>
		</figure>
		<figure class="shop__item product-7">
			<img
				src="assets/img/content/shop/shop_item_07.jpg"
				alt="product-7"
				width="267" height="267"
				ghiw-responsive-filenames="imr/sm/content/shop/-sm--shop_item_07; imr/md/content/shop/-md--shop_item_07; imr/lg/content/shop/-lg--shop_item_07; img/content/shop/shop_item_07"
				ghiw-responsive-media="max-width: 575px; max-width: 767px; max-width: 991px; min-width: 992px"
				ghiw-responsive-extensions="webp; jpg" />
			<figcaption>
				<a href="#" aria-label="shop now">shop now</a>
			</figcaption>
		</figure>
		<figure class="shop__item product-8">
			<img
				src="assets/img/content/shop/shop_item_08.jpg"
				alt="product-8"
				width="267" height="267"
				ghiw-responsive-filenames="imr/sm/content/shop/-sm--shop_item_08; imr/md/content/shop/-md--shop_item_08; imr/lg/content/shop/-lg--shop_item_08; img/content/shop/shop_item_08"
				ghiw-responsive-media="max-width: 575px; max-width: 767px; max-width: 991px; min-width: 992px"
				ghiw-responsive-extensions="webp; jpg" />
			<figcaption>
				<a href="#" aria-label="shop now">shop now</a>
			</figcaption>
		</figure>
	</div>

	<div class="discover">
		<button class="btn--discover" aria-label="Перейти в каталог продукции">discover the shop</button>
	</div>

</div>