$tmpl-min-width: 320;
$tmpl-design-width: 1600;
$tmpl-over-width: 1920;

$content-min-width: 0;
$content-max-width: 1180;

$tmpl-breakpoints: (
  xs: 0,
  sm: 576,
  md: 768,
  lg: 992,
  xl: 1200,
  xxl: 1400,
  ceil: $tmpl-design-width,
  oversize: $tmpl-over-width,
) !default;

$global-doorstep-1: lg;
$global-doorstep-2: ceil;
//========================================

$menu-adaptive-bp-1: md;
$menu-adaptive-bp-2: lg;

$pixelperfect-start-bp: lg;
