/* -------------------- about - позиционирование : начало -------------------- */
.about {
	@include component-container;
	.content-container {
		@include content-paddings;
	}
	&__layout {
		display: flex;
		flex-direction: column;
		align-items: center;
		@include a-padd-b(17, 0);
		@include a-padd-l(35, 0);
	}
	.icon-box {
		@include a-padd-b(26);
	}
	h2 {
		@include a-padd-b(20);
	}
}
/* -------------------- about - позиционирование : конец -------------------- */