/* ========================================
UI-компоненты : начало
======================================== */
// ! @import "ui/icomoon.scss";
/* ========================================
UI-компоненты : конец
======================================== */
/* ========================================
Интерактивные компоненты : начало
======================================== */
// ! @import "interactive/backdrop/_init.scss";
/* ========================================
Интерактивные компоненты : конец
======================================== */
/* ========================================
Основные блоки-компоненты : начало
======================================== */
@import "about/init";
@import "footer/init";
@import "intro/init";
@import "menu/init";
@import "portfolio/init";
@import "reviews/init";
@import "shop/init";
@import "subscribe/init";
/* ========================================
Основные блоки-компоненты : конец
======================================== */

/* ========================================
Сторонние плагины : начало
======================================== */
/* ==============================
swiper : начало
============================== */
@import "../../node_modules/swiper/swiper";
@import "../../node_modules/swiper/modules/pagination/pagination";
/* ==============================
swiper : конец
============================== */
/* ========================================
Сторонние плагины : начало
======================================== */