/* ==============================
Анимации 1го уровня : начало
============================== */
/* ------------------------------
Анимации в блоке mainmenu : начало
------------------------------ */
.mainmenu {
	.logo {
		transition: filter, transform 1s, 0.5s ease;
		&:hover {
			transform: rotateZ(360deg);
			filter: contrast(200%);
		}
	}
}
/* ------------------------------
Анимации в блоке mainmenu : конец
------------------------------ */
/* ==============================
Анимации 1го уровня : конец
============================== */